.timeline {
    > li {
        .timeline-image {
            background-color: $white;
        }
        .bg-color-primary {
            background-color: $black;
        }
    } 
}

.logo{
    max-width: 200px;
}

.logoIcon_2z{display: none;}
.text_eD{color: #fed136 !important;}
.leaf_25._bottom_DW .cssLeaf_1k svg path:first-child{fill: #fed136 !important;}

w-div form a{
  visibility: hidden;
  height: 0px !important;
}

.quicklinks {
    a {
        color: black;
    }
}

#success {
    display: none;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

@media(min-width:768px) {
    .timeline {
        > li {
            .timeline-panel {
                margin-top: 2%;
            }
        } 
    }

    header.masthead .intro-text {
        padding-top: 250px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 65px;
    }
}

@media(max-width:400px) {
    header.masthead .intro-text .intro-heading {
        font-size: 30px;
    }
}

@media(max-width:327px) {
    .logo {
        max-width: 180px;
    }
}

#portfolio .portfolio-item .portfolio-caption p{
  font-size: 13px;
}

.mt-30{
  margin-top: 30px;
}

.contact-goto-primary-btn{
  background: #fed136;
  border-color: #fed136;
  color: #383e45;
}

footer{
    padding: 45px 0;
}

.btn-xl {
    padding: 15px 40px;
}

#services .fa-stack {
    font-size: 3.5em;
}

.masthead {
    #custom-font{
        @include custom-font;
    }
}