.timeline {
    > li {
        .timeline-image {
            background-color: $white;
        }
        .bg-color-primary {
            background-color: $primary;
        }
    } 
}

@media(min-width:768px) {
    .timeline {
        > li {
            .timeline-panel {
                margin-top: 2%;
            }
        } 
    }
}