.timeline {
    > li {
        .timeline-image {
            background-color: $white;
        }
        .bg-color-primary {
            background-color: $primary;
        }
    } 
}

.logo{
    max-width: 200px;
}

.quicklinks {
    a {
        color: black;
    }
}

@media(min-width:768px) {
    .timeline {
        > li {
            .timeline-panel {
                margin-top: 2%;
            }
        } 
    }
}

@media(max-width:400px) {
    header.masthead .intro-text .intro-heading {
        font-size: 30px;
    }
}